<header>
    <nav>
        <a href="/">Library</a>

        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/create">Add Author</a></li>
        </ul>
    </nav>
</header>